fastapi
uvicorn[standard]
python-multipart
gitingest
python-dotenv
psycopg2-binary
langchain-google-genai
supabase
google-genai
pydantic
pydantic-settings
langchain-text-splitters
openai
google-cloud-tasks
atlassian-python-api
html2text
pillow
moviepy
imageio-ffmpeg
edge-tts
pypdf
